# fly.toml app configuration file generated for insignia-api on 2026-01-27T14:44:37Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'insignia-api'
primary_region = 'ams'

[build]

[deploy]
  release_command = 'npx prisma migrate deploy'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
